{
  "extends": ["react-app", "react-app/jest", "prettier"],
  "rules": {
    "no-console": "warn",
    "react/display-name": 0,
    "no-unused-vars": [
      "error",
      {
        "vars": "all",
        "argsIgnorePattern": "_",
        "caughtErrorsIgnorePattern": "_"
      }
    ]
  }
}
